@import 'https://fonts.googleapis.com/css?family=Sigmar+One|Lobster+Two:700|Playball|Overlock|Luckiest+Guy|Sancreek|Amatic+SC|Kaushan+Script|Berkshire+Swash|Open+Sans:700';

.f1 { font-size: 4rem; }
.f2 { font-size: 3rem; }
.f3 { font-size: 1.5rem; }
.f4 { font-size: 1.125rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: 0.875rem; }

.lobster-two {
  font-family: 'Lobster Two';
}

.overlock {
  font-family: 'Overlock';
}

.playball {
  font-family: 'Playball';
}

.sigmar-one {
  font-family: 'Sigmar One';
}

.amatic-sc {
  font-family: 'Amatic SC';
}

.berkshire-swash {
  font-family: 'Berkshire Swash';
}

.kaushan-script {
  font-family: 'Kaushan Script';
}

.luckiest-guy {
  font-family: 'Luckiest Guy';
}

.open-sans {
  font-family: 'Open Sans';
}

.sancreek {
  font-family: 'Sancreek';
}
